@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  src: url('./trebuc/trebuc.ttf') format('truetype');
}

@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 700;
  src: url('./trebuc/trebucbd.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo 2.0';
  font-style: normal;
  font-weight: 200;
  src: url('./Exo2.0-Thin.otf');
}
