* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

.App {
  position: relative;
  min-height: 100vh;
  background: url("./images/pattern.png");

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 5e-5) 49.88%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
}
.cards {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1160px;
  width: 100%;
}
